{% extends 'layout.html' %}


{% block title %}
    Admin
{% endblock %}

{% block content %}
<div class="container mt-0">
    <div class="row mt-5">
        <div class="col-md-4">
            <div class="profile-picture">
                {% if user.profile_pic %}
                    <img src="{{ url_for('static', filename='profile_pic/' + user.profile_pic) }}" alt="Profile Picture" class="img-fluid rounded-circle" width="250">
                {% else %}
                    <img src="{{ url_for('static', filename='default_profile_pic.jpeg') }}" alt="Profile Picture" class="img-fluid rounded-circle" width="250">
                {% endif %}
            </div>
            
            <div class="profile-details">
                <h2>{{ user.name }}</h2>
                <div class="username" --bs-secondary-color>
                    @{{ user.username }}
                </div>
                <p><strong>Email:</strong> {{ user.email }}</p>
            </div>
        </div>
        <div class="col-md-8">
            <a href="{{ url_for('view_campaigns') }}">campaigns</a>
        </div>
{% if current_user.is_authenticated and current_user.id != user.id %}
<a href="{{ url_for('report_user', user_id=user.id) }}" class="btn btn-warning">Report User</a>
{% endif %}

    </div>
</div>
{% endblock %}
