{% extends 'layout.html' %}

{% block content %}
    <h1>Create a Campaign</h1>
    <div class="container mt-3">
        <div class="row g-2">
            <div class="col-md-6 mt-3">
                <form method="post">
                    <div class="mb-3">
                        <label for="name" class="form-label"><strong>Campaign Title</strong></label>
                        <input class="form-control mt-2" type="text" id="name" required>
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label"><strong>Campaign Description</strong></label>
                        <textarea class="form-control mt-2" type="text" id="description" style="height: 80px" aria-label="campaigndescription" required></textarea>
                    </div>
                    <div class="mb-3">
                        <label for="picture" class="form-label"><strong>Campaign Picture</strong></label>

                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label"><strong>Category</strong></label>
                        <select class="form-select mt-2" id="category" required>
                            <option selected disabled value="">Select a category</option>
                            <option value="1">Fashion</option>
                            <option value="2">Beauty</option>
                            <option value="3">Food</option>
                            <option value="4">Travel</option>
                            <option value="5">Fitness</option>
                            <option value="6">Lifestyle</option>
                        </select>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
