{% extends 'layout.html' %}

{% block content %}
<div class="container">
    <script src="/static/js/autocomplete.js"></script>
    <div class="mt-3 custom-padding">
        <div class="row">
            <div class="col-md-6">
                <h2>Edit Profile</h2>
                <hr>
                
                <form action="{{ url_for('upload_profile_pic') }}" method="post" enctype="multipart/form-data" class="mt-3">
                    <div class="row">
                        <div class="col-md-10 mt-3">
                            <div class="mb-0">
                                <label for="profilePic" class="form-label"><strong>Upload new profile picture</strong></label>
                                <input class="form-control" type="file" id="profilePic" name="profile_pic" aria-label="Upload new profile picture" required>
                            </div>
                        </div>
                        <div class="col-md-2 mt-5">
                            <button type="submit" class="btn btn-primary w-100" aria-label="Upload profile picture">Upload</button>
                        </div>
                    </div>
                </form>
                
                
                <form action="{{ url_for('user_profile_edit') }}" method="post">
                    <div class="row g-2">
                        <div class="col-md-6 mt-4">
                            <label for="firstname"><strong>First Name</strong></label>
                            <input type="text" class="form-control mt-2" id="firstname" name="firstname" value="{{ user.name.split(' ')[0] }}" required aria-label="First Name">
                        </div>
                        <div class="col-md-6 mt-4">
                            <label for="lastname"><strong>Last Name</strong></label>
                            <input type="text" class="form-control mt-2" id="lastname" name="lastname" value="{{ user.name.split(' ')[-1] }}" required aria-label="Last Name">
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md-12 mt-4">
                            <label for="username"><strong>Username</strong></label>
                            <input type="text" class="form-control mt-2" id="username" name="username" value="{{ user.username }}" required aria-label="Username">
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md-12 mt-4">
                            <label for="email"><strong>Email</strong></label>
                            <input type="email" class="form-control mt-2" id="email" name="email" value="{{ user.email }}" required aria-label="Email">
                        </div>
                    </div>
                    {% if influencer %}
                    <div class="row g-2">
                        <div class="col-md-12 mt-4">
                            <label for="bio"><strong>Bio</strong></label>
                            <textarea class="form-control mt-2" id="bio" name="bio" style="height: 80px" aria-label="Bio">{{ influencer.bio }}</textarea>
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md-12 mt-4">
                            <label for="location"><strong>Location</strong></label>
                            <input type="text" id="location" class="form-control" name="location" value="{{ influencer.location }}" aria-label="Location">
                        </div>
                    </div>
                    {% endif %}
                    <div class="form-group">
                        <label for="twitter">Twitter</label>
                        <input type="text" class="form-control" id="twitter" name="twitter" placeholder="Twitter URL" value="{{ user.twitter }}">
                    </div>
                
                    <div class="form-group">
                        <label for="facebook">Facebook</label>
                        <input type="text" class="form-control" id="facebook" name="facebook" placeholder="Facebook URL" value="{{ user.facebook }}">
                    </div>
                
                    <div class="form-group">
                        <label for="instagram">Instagram</label>
                        <input type="text" class="form-control" id="instagram" name="instagram" placeholder="Instagram URL" value="{{ user.instagram }}">
                    </div>
                
                    <div class="form-group">
                        <label for="linkedin">LinkedIn</label>
                        <input type="text" class="form-control" id="linkedin" name="linkedin" placeholder="LinkedIn URL" value="{{ user.linkedin }}">
                    </div>
                    <div class="row g-2">
                        <div class="col-md-12 mt-4">
                            <label for="password"><strong>New Password</strong></label>
                            <input type="password" class="form-control mt-2" id="password" name="password" aria-label="New Password">
                        </div>
                    </div>
                    <div class="row g-2">
                        <div class="col-md-12 mt-4">
                            <label for="confirm_password"><strong>Confirm New Password</strong></label>
                            <input type="password" class="form-control mt-2" id="confirm_password" name="confirm_password" aria-label="Confirm New Password">
                        </div>
                    </div>
                    <div class="row g-2 mt-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary w-100">Save Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}
